{% if igp is defined %}

{% if igp.loopbacks is defined %}
interfaces {
  lo0 {
    unit 0 {
      description "Loopback-ip: {% if igp.loopbacks.ipv4.local_ip is defined %}{{ igp.loopbacks.ipv4.local_ip }}{% endif %}{% if igp.loopbacks.ipv6.local_ip is defined %} {{ igp.loopbacks.ipv6.local_ip }}{% endif %}"
      {% if igp.loopbacks.ipv4 is defined %}
      family inet {
        address {{ igp.loopbacks.ipv4.local_ip }}/{{ igp.loopbacks.ipv4.netmask }};
      }
      {% endif %}
      {% if loopback.ipv6 is defined %}
      family inet6 {
        address {{ igp.loopbacks.ipv6.local_ip }}/{{ igp.loopbacks.ipv6.netmask }};
      }
      {% endif %}
    }
  }
}
{# if igp.loopbacks is defined #}
{% endif %}

{% if igp.neighbors is defined %}
{% for neighbor in igp.neighbors %}
interfaces {
  {{ neighbor.interface }} {
    description "Core: {{ neighbor.peer }}"
    unit 0 {
      description "Core-ip: {{ neighbor.peer }}{% if neighbor.ipv4.local_ip is defined %} - {{ neighbor.ipv4.local_ip }}{% endif %}{% if neighbor.ipv6.local_ip is defined %} - {{ neighbor.ipv6.local_ip }}{% endif %}"
      {% if neighbor.ipv4 is defined %}
      family inet {
        address {{ neighbor.ipv4.local_ip }}/{{ neighbor.ipv4.netmask }};
      }
      {% endif %}
      {% if neighbor.ipv6 is defined %}
      family inet6 {
        address {{ neighbor.ipv6.local_ip }}/{{ neighbor.ipv6.netmask }};
      }
      {% endif %}
    }
  }
}
{# for neighbor in igp.neighbors #}
{% endfor %}
{# if igp.neighbors is defined #}
{% endif %}

{# if igp is defined #}
{% endif %}

