{% if igp is defined %}

{% if igp.loopback is defined %}
interfaces {
  lo0 {
    unit 0 {
      description "Loopback: {% if interface.ipv4.local_ip is defined %} - {{ interface.ipv4.local_ip }}{% endif %}{% if interface.ipv6.local_ip is defined %} - {{ interface.ipv6.local_ip }}{% endif %}"
      {% if loopback.ipv4 is defined %}
      family inet {
        address {{ loopback.ipv4.local_ip }}/{{ loopback.ipv4.netmask }};
      }
      {% endif %}
      {% if loopback.ipv6 is defined %}
      family inet {
        address {{ loopback.ipv6.local_ip }}/{{ loopback.ipv6.netmask }};
      }
      {% endif %}
    }
  }
}
{# if igp.loopback is defined #}
{% endif %}

{% if igp.neighbors is defined %}
{% for neighbor in igp.neighbors %}
interfaces {
  {{ neighbor.interface }} {
    description "Core: {{ peer }}"
    unit 0 {
      description "Core: {{ peer }} {% if interface.ipv4.local_ip is defined %} - {{ interface.ipv4.local_ip }}{% endif %}{% if interface.ipv6.local_ip is defined %} - {{ interface.ipv6.local_ip }}{% endif %}"
      {% if neighbor.ipv4 is defined %}
      family inet {
        address {{ neighbor.ipv4.local_ip }}/{{ neighbor.ipv4.netmask }};
      }
      {% endif %}
      {% if neighbor.ipv6 is defined %}
      family inet {
        address {{ neighbor.ipv6.local_ip }}/{{ neighbor.ipv6.netmask }};
      }
      {% endif %}
    }
  }
}
{# for neighbor in igp.neighbors #}
{% endfor %}
{# if igp.neighbors is defined #}
{% endif %}

{# if igp is defined #}
{% endif %}

