!
{% if igp is defined %}
!
{% if igp.loopbacks is defined %}
!
interface Loopback 0
  description "Loopback: {% if igp.loopbacks.ipv4.local_ip is defined %} - {{ igp.loopbacks.ipv4.local_ip }}{% endif %}{% if igp.loopbacks.ipv6.local_ip is defined %} - {{ igp.loopbacks.ipv6.local_ip }}{% endif %}"
  {% if igp.loopbacks.ipv4 is defined %}
  ip address {{ igp.loopbacks.ipv4.local_ip }}/{{ igp.loopbacks.ipv4.netmask }}
  {% endif %}
  {% if igp.loopbacks.ipv6 is defined %}
  ipv6 address {{ igp.loopbacks.ipv6.local_ip }}/{{ igp.loopbacks.ipv6.netmask }}
  {% endif %}
exit
!
{# if igp.loopbacks is defined #}
{% endif %}
!
{% if igp.neighbors is defined %}
{% for neighbor in igp.neighbors %}
!
interface {{ neighbor.interface }}
  no switchport
  description "Core: {{ neighbor.peer }}{% if interface.ipv4.local_ip is defined %} - {{ interface.ipv4.local_ip }}{% endif %}{% if interface.ipv6.local_ip is defined %} - {{ interface.ipv6.local_ip }}{% endif %}"
  {% if neighbor.ipv4 is defined %}
  ip address {{ neighbor.ipv4.local_ip }}/{{ neighbor.ipv4.netmask }}
  {% endif %}
  {% if neighbor.ipv6 is defined %}
  ipv6 address {{ neighbor.ipv6.local_ip }}/{{ neighbor.ipv6.netmask }}
  {% endif %}
exit
!
{# for neighbor in igp.neighbors #}
{% endfor %}
{# if igp.neighbors is defined #}
{% endif %}
{# Endif igp is defined #}
{% endif %}
!



