{% if igp is defined %}

groups {
  /* OSPF Core */
  ospf-core {
    protocols {
      ospf {
        area <*> {
          interface <*> {
            interface-type p2p;
          }
        }
      }
    }
  }
  /* OSPF3 Core */
  ospf3-core {
    protocols {
      ospf3 {
        area <*> {
          interface <*> {
            interface-type p2p;
          }
        }
      }
    }
  }
}

{% if igp.loopback is defined %}
routing-options {
  router-id {{ loopback.ipv4.local_ip }};
}

protocols {
  ospf {   
    area 0.0.0.0 {
      interface lo0.0 {
        passive;
      }
    }
  }
  ospf3 {   
    area 0.0.0.0 {
      interface lo0.0 {
        passive;
      }
    }
  }
}
{# if igp.loopback is defined #}
{% endif %}


{% if igp.neighbors is defined %}
{% for neighbor in igp.neighbors %}
protocols {
  ospf {
    area 0.0.0.0 {
      interface {{ neighbor.interface }}.0 {
        apply-groups ospf-core;
      }
    }
  }
}
protocols {
  ospf3 {
    area 0.0.0.0 {
      interface {{ neighbor.interface }}.0 {
        apply-groups ospf3-core;
      }
    }
  }
}
{# for neighbor in igp.neighbors #}
{% endfor %}
{# if igp.neighbors is defined #}
{% endif %}


{# if igp is defined #}
{% endif %}

