{% if igp is defined %}
{% if igp.loopback is defined %}
!
router ospf {{ my_asn }}
    router-id {{ loopback.ipv4.local_ip }}
    passive-interface default
exit
!
ipv6 router ospf {{ my_asn }}
    router-id {{ loopback.ipv4.local_ip }}
    passive-interface default
exit
!
interface Loopback 0
    ip ospf  
    ipv6 ospf {{ my_asn }} area 0.0.0.0
exit
!
{# if igp.loopback is defined #}
{% endif %}
{% if igp.neighbors is defined %}
{% for neighbor in igp.neighbors %}
!
interface {{ neighbor.interface }}
    ip ospf network point-to-point
    ip ospf area 0.0.0.0
    ipv6 ospf network point-to-point
    ipv6 ospf {{ my_asn }} area 0.0.0.0
exit
!
router ospf {{ my_asn }}
    no passive-interface {{ neighbor.interface }}
    redistribute connected
exit
!
ipv6 router ospf {{ my_asn }}
    no passive-interface {{ neighbor.interface }}
    redistribute connected
exit
!
{# for neighbor in igp.neighbors #}
{% endfor %}
{# if igp.neighbors is defined #}
{% endif %}
{# if igp is defined #}
{% endif %}

