#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if common_users is defined %}

{% for user in common_users %}

username {{ user.name }} privilege {% if user.class == "super-user" %}15{% else %}0{% endif %} {% if user.password is defined %}secret sha512 {{ user.password }} {% else %}nopassword{% endif %}

{% if user.ssh_pub is defined %}

{% for ssh_pub in user.ssh_pub %}

username {{ user.name }} sshkey {{ ssh_pub.key }}

{% endfor %}

{% endif %}

{# for user in common_users #}
{% endfor %}

{# if common_users is defined #}
{% endif %}
