#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if common_users is defined %}

{% for user in common_users %}

username {{ user.name }} privilege {% if class == "super-user" %}15{% else %}1{% endif %} {% if user.password is defined %}secret sha512 {{ user.password }} {% else %}nopassword{% endif %}

username {{ user.name }} {{ ssh_pub.type }} {{ ssh_pub.key }}

{# for user in common_users #}
{% endfor %}

{# if common_users is defined #}
{% endif %}
