
{% for peer in peers %}


{% endfor %}



{% for peer in peers %}


{% endfor %}

{# {% if ansible_host == 'vqfx1' %}
{% set prefix = "1.0.0.0/8" %}
{% elif ansible_host == 'vqfx2' -%}
{% set prefix = "2.0.0.0/8" %}
{% elif ansible_host == 'vqfx3' -%}
{% set prefix = "3.0.0.0/8" %}
{% endif %} #}


