###################
##
## Some information
##
###################
router id {{ bgp.id }};

# Configure logging
log syslog { debug, trace, info, remote, warning, error, auth, fatal, bug };

protocol direct my_network {
    interface "lo*";
    import all;
    export none;
}

protocol kernel {
  persist;         # Don't remove routes on bird shutdown
  scan time 20;    # Scan kernel routing table every 20 seconds
  import none;     # We use "protocol direct" to export routes
  learn;           # Allow other daemons to learn about routes from the kernel routing table
  merge paths 8;
  export filter {
    krt_prefsrc = {{ loopback.ipv6.ip }};
    accept;
  };
}

# This pseudo-protocol watches all interface up/down events.
protocol device {
  scan time 20;    # Scan interfaces every 5 seconds
}

{% for session in bgp.sessions.ipv6 %}

protocol bgp session{{ loop.index }} {
  local as {{ bgp.asn }};
  neighbor {{ session.peer_ip }} as {{ session.peer_asn }};
  import all;
  export all;
}
{% endfor %}