
source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet static
    address {{ loopback.ipv4.ip }}
    netmask {{ loopback.ipv4.netmask }}
iface lo inet6 static
    address {{ loopback.ipv6.ip }}
    netmask {{ loopback.ipv6.netmask }}

# The primary network interface - Used by vagrant
allow-hotplug eth0
iface eth0 inet dhcp

{% for interface in interfaces %}
auto {{ interface.name }} 
{% if interface.ipv4 is defined %}
iface {{ interface.name }} inet static
    address {{ interface.ipv4.ip }}
    netmask {{ interface.ipv4.netmask }}
{% endif %}
{% if interface.ipv6 is defined %}
iface {{ interface.name }} inet6 static
    address {{ interface.ipv6.ip }}
    netmask {{ interface.ipv6.netmask }}
{% endif %}

{% endfor %}